<div class="row">

    <!--menu-->
    <header class="header">
        <div class="bars"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
        <nav class="menu">
            <ul>
                <li><a href="">ANALYTICS</a></li>
                <li><a href="">BATTERY</a></li>
                <li><a href="">WQ TANK</a></li>
                <li><a href="">WATER CHEM</a></li>
                <li><a href="">ALERTS</a></li>
                <li><a href="">HYDROPONIC</a></li>
                <li><a href="">CLOUD TRACKER</a></li>
                <li><a href="">ALERTS</a></li>
            </ul>
        </nav>
        <div></div>
    </header>
    <!--END menu-->


    <!--Content-->
    <div class="main">

        <div class="row">
            <div class="controls-menu">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="row">

        </div>


    </div>

</div>