<div class="row">

    <!--menu-->
    <header class="header">
        <div class="bars"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
        <nav class="menu">
            <ul>
                <li class="menu-item" data-api=""><a href="">ANALYTICS</a></li>
                <li class="menu-item" data-api="battery" data-unit="volts" data-time="1" data-color=""><a href="">BATTERY</a></li>
                <li class="menu-item" data-api="temperature" data-unit="fahrenheit" data-time="1" data-color=""><a href="">WQ TANK</a></li>
                <li class="menu-item" data-api=""><a href="">WATER CHEM</a></li>
                <li class="menu-item" data-api=""><a href="">ALERTS</a></li>
                <li class="menu-item" data-api="light" data-unit="lux" data-time="1"  data-color=""><a href="">HYDROPONIC</a></li>
                <li class="menu-item" data-api=""><a href="">CLOUD TRACKER</a></li>
                <li class="menu-item" data-api=""><a href="">ALERTS</a></li>
            </ul>
        </nav>
        <div></div>
    </header>
    <!--END menu-->


    <!--Content-->
    <div class="main">

        <div class="row">
            <div class="container">
                <div class="controls-menu">
                    <ul>
                        <li class="col-md-4 text-center">LAST 24 HOURS</li>
                        <li class="col-md-4 text-center">7 DAYS</li>
                        <li class="col-md-4 text-center">30 DAYS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 content">
                <div class="lable col-md-4 col-md-offset-8">
                    <div class="title">BATTERY</div>
                    <div class="sub-title">voltage vs time analytics</div>
                    <div class="regular">Last update </div>
                </div>
                <div class="graph col-md-10 col-md-offset-1">

                </div>

            </div>

        </div>


    </div>

</div>