<div class="container">

    <!--ADD Form-->
    <section class="row">


    </section>
    <!--END ADD Form-->



    <!--Search Form-->
    <section class="row">
        <form id="contactForm" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>

        </form>
        <div id="success"></div>



    </section>
    <!--END Search Form-->





    <!--Search Form-->
    <section class="row">
        <ul class="list-group" id="events">

        </ul>
    </section>
    <!--END Search Form-->





</div>